/* CSS style2 adaptatif */
body 
{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

header 
{
  position: fixed; 
  top: 0; 
  width: 100%; 
  background-color: #333333;
  color : white;
}

hr.dot 
{
	 border: dotted 2px;
	 width: 80%;
}

nav ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #666666; 
}

nav ul li:first-child 
{
  background-color: #04AA6D;
}

nav ul li 
{
  float: left;
  border-right: none;
}

nav ul li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

nav ul li a:hover:not(.first)
{
  background-color: #DDDDDD;
  color: black;
}

section#first 
{
  padding-top: 180px;
}

section 
{
  padding-top: 35px;	
  padding-left: 20px;
  padding-right: 15px;
}

aside#last 
{
  padding-top: 25px;	
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 90px;
}

aside a
{
  text-decoration: none;
}

aside img
{
	border:0;
	width:88px;
	height:31px
}
		
h1
{ 
  text-align: center;
}

footer 
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 15px;
  background-color: #333333;
  color: white;
  text-align: center;
}

footer ul li
{
  float: left;
  width:33%;
  list-style-type: none;
}

footer ul li:first-child
{
  text-align: left;
}

footer ul li:last-child
{
  float:right;
  text-align: right;
}

/* max-width pour fortes résolutions */
@media screen and (min-width: 1280px) 
{
	nav ul li 
	{
		float: left;
		border-right:1px solid #BBBBBB;
	}
		
	nav ul li:last-child
	{
		border-right: none;
		float:right;
	}
}

/* max-width pour faibles résolutions */
@media screen and (max-width: 640px) 
{
	nav ul li 
	{
		float: none;
		width: 100%;
		border-right: none;
	}

	nav ul li a 
	{
		padding: 1px;
	}

	section#first 
	{
		padding-top: 300px;
	}
	section 
	{
		padding-top: 5px;
		padding-right: 15px;
	}
	.image-responsive 
	{
		max-width: 100%;
		height: auto;
    }
}

