header
 {
	postion: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #52414C ;
	color : white;
	text-align: center;
  }

 nav ul 
 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: blue;
	border-radius:15px;
}

nav ul li
	{
	float:left;
	border-right: 1px solid #BBBBBB;
	color: #FFFACC;
	}
nav ul li: last-child
	{
	border-right: none;
	float:right;
	border-left: 1px solid #BBBBBB;
	}

nav ul li a
	{
	display: block;
	color: #FFFACC;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	}

nav ul li:hover
	{
	background-color: black;
	}

aside#last 
  {
    padding-top: 25px;	
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 90px;
  }

  aside a img
  {
  	border:0;
  	width:88px;
  	height:31px
  } 
body 
  {
  	background-color: #f7f7f7;
  }
footer 
  {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 15px;
    background-color: #00008B;
    color: white;
    text-align: center;
  }

  footer ul li
  {
    float: left;
    width:33%;
    list-style-type: none;
  }

  footer ul li:first-child
  {
    text-align: left;
  }

  footer ul li:last-child
  {
    float:right;
    text-align: right;
  }
td
	{
	border: 2px solid black;
	padding: 10px 20px 10px 20px;
	}
table{
	margin-top: 25px;
	border-collapse: collapse; 
	text-align: center;
	box-shadow: 4px 4px 3px black;
	display:inline-block;
  	vertical-align:top;
<<<<<<< HEAD
	margin-left: 50px;
=======
>>>>>>> 71ad281a39d7b51b13810f0d7aa2d2491708a615
	}

